<hr>
<h2>Footer</h2>
<aside>
    <% if(created) { %>
        <div class="alert alert-success">Note has been created!</div>
        <% } %>

            <% if(error) { %>
                <div class="alert alert-danger">Something went wrong!</div>
                <% } %>
</aside>